<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mystic.movieshub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FundFarmerActivity"></activity>
        <activity android:name=".SeeFullFarmersActivity" />
        <activity android:name=".MoneyProfile" />
        <activity android:name=".ShowFullFarmActivity" />
        <activity android:name=".QualifiedFarmersActivity" />
        <activity android:name=".InvestorScreenActivity" />
        <activity android:name=".StatusActivity" />
        <activity android:name=".ApplyForLoanActivity" />
        <activity android:name=".SpecificProductActivity" />
        <activity android:name=".ChatScreenActivity" />
        <activity android:name=".UploadNewsActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UploadActivity" />
        <activity android:name=".SingleFragmentActivity" />
        <activity android:name=".Multiplefragment" />
        <activity
            android:name=".SpecificNewsActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>